table{
    background-color: aqua;
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding: 8px;
    text-align: left;
}

img[src]{
    height: 100px;
}